@font-face {
    font-family: 'Rubik-BoldItalic';
    src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-BlackItalic';
    src: url('../fonts/Rubik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Black';
    src: url('../fonts/Rubik-Black.woff2') format('woff2'),
        url('../fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-LightItalic';
    src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('../fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
        url('../fonts/Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    font-size: 1.25rem;
    background-image: url('../images/body-bg.png');
    background-repeat: no-repeat;
    background-position-y: 35%;
    // background-size: contain;
    @include media-breakpoint-down(xs) {
        background-size: 100%;
        background-position-y: 33%;
        font-size: 11px;
    }
}
h2 {
    font-size: 3rem;
    font-weight: 300;
    @include media-breakpoint-down(xs) {
        font-size: 2rem;
    }
}

.gradient-heading {
    background: linear-gradient(135deg, #71e09d 0%, #3c5eff 100%);
    color: #ffffff;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: theme-color('success');
    &:hover {
        text-decoration: none;
    }
}


.vertical-line {
    width: 2px;
    height: 50px;
    background-color: #00daab;
    
    &--center {
        margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
        height: 30px;
    }
}

.font-weight-bold {
    font-family: "Rubik-Medium";
    font-weight: 500;
}

@each $color, $value in $theme-colors {
    .vertical-line--#{$color} {
        background-color: $value;
    }
}